form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    grid-gap: 2rem;
    @media (max-width: $bp-desktop) {
        grid-template-columns: 1fr;
    }
}

.tipbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @media (max-width: $bp-mobile) {
        grid-template-columns: repeat(2, 1fr);
    }
}
